  <div class="row" style="margin-left: 20%">

      <div class="col-lg-3">
        <p >Wählen Sie eine Marke aus</p>

        <ul >
          <li *ngFor=" let brand of brands">
            <button type="button" class="btn btn-secondary" (click)="onSelectBrand(brand)" > {{brand}}</button>
          </li>
        </ul>

        <div  *ngIf="selectedBrand != undefined">
          <p>Wählen Sie eine Kampagne aus </p>
          <ul>
            <li *ngFor=" let campi of campaigns">
              <button *ngIf="campi.endDate > timeStamp && selectedBrand == campi.brand" type="button" class="btn btn-secondary"
                      (click)="onSelectMarketingCampaign(campi)"> {{campi.campaignName}}</button>
              <button *ngIf="campi.endDate < timeStamp && selectedBrand == campi.brand" type="button" class="btn btn-secondary deadCampaign"
                      (click)="onSelectMarketingCampaign(campi)"> {{campi.campaignName}} (abgelaufen) </button>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf=" selectedCampaign!= undefined && selectedBrand == selectedCampaign.brand" class="col-lg-5">
          <h4 style="font-weight: bold">Erstelle neue Coupons</h4>
          <div class = "form-group" style="width: fit-content">
            <label for="numberOfCoupons">Anzahl neuer Coupons</label>
            <input type="number" min="1" class="form-control" id="numberOfCoupons" aria-describedby="numberHelp" placeholder="Anzahl eingeben" (input)="checkAreBoxesFilled()">
            <small id="numberHelp" class="form-text text-muted">Für <span style="font-weight: bold">{{selectedCampaign.campaignName}} </span>Coupons generieren</small>
            <br> <br>
            <label for="couponStartValue" style="width: fit-content">ID Startwert setzen</label>
            <input type="number" min="1" class="form-control" id="couponStartValue" aria-describedby="startHelp" placeholder="Startwert eingeben" (input)="checkAreBoxesFilled()">
            <small id="startHelp" class="form-text text-muted">Für <span style="font-weight: bold">{{selectedCampaign.campaignName}} </span>Start ID festlegen</small>
            <div *ngIf="checkAreBoxesFilled() == true">
              <button class="btn btn-primary"  (click)="createNewCoupons(getNumberOfCoupons(),getStartValue()) ">Coupons erstellen</button>
            </div>
            <div *ngIf="isNegativeValues()">
              <span class="badge badge-danger" style="background-color: red; margin-top: 3px">Bitte keine negativen Werte eingeben </span>
            </div>
          </div>
      </div>
    </div>





  <div>
  <span *ngIf=" coupons != undefined && areCouponsAndCampaignSame()" style="margin-left: 20%">  {{setLoading(false)}} Die Coupons wurden erfolgreich erstellt </span>
   <span *ngIf="loading == true" class="loading" style="margin-left: 20%">Erstelle Coupons... </span>

</div>




<div class="ComponentClass" style="margin-top: 10%">
  <button type="button" class="btn btn-primary customBlock"  (click)="resetAll()">Hauptmenü</button>
</div>
