

<div  *ngIf="menuSelection==0" style="margin-left: 20%">

    <div class="buttonSpace">
      <button type="button" class="btn btn-primary customBlock " (click)="menuSelection=1; onClickMarketing.emit(!reset)">Neue Marketing-Kampagne erstellen</button>
    </div>
    <div class="buttonSpace">
      <button type="button" class="btn btn-primary customBlock " (click)="menuSelection=2; onClickMarketing.emit(!reset)">Details einer Marketing Kampagne</button>
    </div>

  </div>



<app-create-marketing *ngIf="menuSelection == 1"></app-create-marketing>
<app-marketing-details *ngIf="menuSelection==2"></app-marketing-details>

