
<div class ="row" style="margin-left: 20%">
  <div class="col-md-4" style="padding: 0">
    <p>Wählen Sie eine Marke aus</p>

    <ul class="brands marginTop">
      <li *ngFor=" let brand of brands">
        <button type="button" class="btn btn-secondary" (click)="selectedBrand = brand" > {{brand}}</button>
      </li>
    </ul>

    <div  *ngIf="selectedBrand != undefined">
      <p>Wählen Sie eine Kampagne aus </p>
      <ul>
        <li *ngFor=" let campi of campaigns ">
          <button *ngIf="selectedBrand == campi.brand" type="button" class="btn btn-secondary"
                  (click)="loadCoupons(campi)"> {{campi.campaignName}}</button>
        </li>
      </ul>
    </div>
  </div>
  <div class ="col-md-5"  *ngIf="selectedBrand != undefined && selectedMarketingCampaign != undefined">
    <p>{{selectedMarketingCampaign.campaignName}} hat folgende Coupons</p>
    <ul style="overflow: scroll; height: 200px; overflow-x: hidden">
      <li *ngFor=" let coupon of couponsFromCampaign ">
        <span style="color: #dc3545"*ngIf="coupon.used == true; else elseBlock">{{coupon.couponID}}</span>
        <ng-template #elseBlock>{{coupon.couponID}} </ng-template>
      </li>
    </ul>
    ROT: Bereits eingelöst
  </div>
</div>
<div class="col-md-4" style="margin-top: 10%; margin-left: 20%; padding-left: 0">
  <button type="button" class="btn btn-primary customBlock"  (click)="resetAll()">Hauptmenü</button>
</div>




