
  <div  *ngIf="httpResponseError == undefined" style="margin-left: 20%">
    <p style="font-weight: bolder">Geben Sie die Coupon Nummer ein</p>
    <div  style="width: fit-content">
      <label for="couponID">Coupon-ID</label>
      <input type="text" min="1" class="form-control" id="couponID" aria-describedby="couponHelo" placeholder="ID eingeben" (input)="setCouponID(getCouponIDInput())">
      <small id="numberHelp" class="form-text text-muted">Die ID ist eine Kombination aus Buchstaben und Zahlen</small>
      <br>
      <button class="btn btn-primary" (click)="getCoupon(getCouponIDInput())" [disabled]="!(getCouponIDInput().length > 35) ">Coupon überprüfen</button>
    </div>

    <div *ngIf="couponToReedeem!= undefined">

      Dieser Code ist
      <div
        *ngIf="(couponToReedeem.used == false && fourOFourError == false && couponToReedeem.used == false);
           else elseBlock">
        <span style="color: darkgreen; font-weight: bolder" >EINLÖSBAR </span>
        <div style="width: fit-content">
          <br>

          <form [formGroup]="userEmail">
            <label for="emailInput" style="color: #2e6da4">E-Mail eingeben</label>
            <input type="email" [class.EmailError]="isUserEmailCorrect()" formControlName="eMailUser"
                   class="form-control EmailBox" name="eMailUser" id="emailInput"
                   aria-describedby="emailHelp" placeholder="E-mail Adresse" (input)="setEmail(getEmailInput())">
            <small id="emailHelp" class="form-text text-muted">Der Coupon wird mit dieser E-mail eingelöst</small>
          </form>
          <button class="btn btn-primary" (click)="redeemCoupon(eMail)" [disabled]="isUserEmailCorrect() ">Coupon jetzt einlösen</button>

        </div>

      </div>
      <ng-template #elseBlock >
        <span class="error" style= "color: red">NICHT EINLÖSBAR </span>
      </ng-template>
      <br>
      <span *ngIf="couponToReedeem.used ==true" style= "color: red; font-weight: bolder " >BEREITS EINGELÖST</span>

    </div>
    <span *ngIf="fourOFourError == true">Coupon konnte <span class="error">NICHT GEFUNDEN WERDEN</span> </span>




  </div>

  <div style="margin-left: 20%;">
    <div *ngIf="httpResponseError!=undefined">
      <span class="success">Coupon wurde eingelöst. Weiteren Coupon einlösen?</span>
      <br> <br>
      <button type="button" class="btn btn-primary customBlock" (click)="resetCoupon()">Weitere Coupons einlösen</button>
    </div>
  </div>
  <div style="margin-top: 10%; margin-left: 20%;">
    <button type="button" class="btn btn-primary customBlock" (click)="resetAll()">Hauptmenü</button>
  </div>


